{% extends 'temp/baseforlogin.html' %}
{% block content %}
{% load static %}
<html>
<html>
<head>
  <title>Ecommerce Website - Login</title>
 <link rel="stylesheet" type="text/css" href="{% static 'css/temp/login.css' %}">

</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="{% static 'home/img/e-commerce-logo.png' %}" alt="Ecommerce Logo">
    </div>
    <h2>Login</h2>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <input type="submit" value="Login">
    </form>
    <div class="signup-link">
      Don't have an account? <a href="/accounts/signup">Sign up</a>
    </div>
  </div>
</body>
</html>
{% endblock %}